.git
.gitignore
.venv
__pycache__
**/__pycache__
*.py[cod]
.ruff_cache
.pytest_cache
.mypy_cache
.env
.env.*
!.env.example
docs/
webapp/node_modules
webapp/dist
tests/
.idea/
.vscode/
*.md
!README.md
docker/
models/
